.main{
  text-align: center;
  height: 50;
  width: 100;
}


th{
  width: 100;
  padding: 5px;
}

.course{
  padding-left: 370px;
  margin-bottom: 0px;
}

.room{
  text-align: center;
  margin-left: 190px;
}
